<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso con VUE</title>
</head>
<body>

  <div id="app">
    <h1>{{ titulo }}</h1>

    <input type="text" v-model="nuevaFruta" placeholder="Agregar fruta" @keyup.enter="agregarFrutas">
    <button @click="agregarFrutas">Agregar</button> <!-- En modo abreviado es @click="" / forma normal es v-on:click="" -->

  
    <ul>
      <li v-for="fruta of frutas">
        <input type="number" v-model.number="fruta.cantidad">
        {{ fruta.nombre }}
        <button @click="fruta.cantidad++">+</button>
        <span v-if="fruta.cantidad === 0"> -Sin stock</span>
      </li>
    </ul>
    <h4>TOTAL: {{ sumarFrutas }}</h4>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/2-app.js"></script>
</body>
</html>